.container {
    max-width: 50%;
}

.handleFiltersBtn {
    margin-top: 20px;
    width: 200px;
    height: 40px;
    display: flex;
    justify-content: center;
    align-items: center;
    background: #fff;
    border: 1px solid #000;
    font-size: 15px;
    cursor: pointer;
}

.typesList {
    display: flex;
    flex-wrap: wrap;
    padding: 0;
}

.typesList li {
    margin: 10px;
    list-style-type: none;
    padding: 10px;
    background: #ececec;
    cursor: pointer;
}