.logo {
  margin: auto;
  margin-top: 20px;
  width: 30%;
  text-align: center;
  padding: 20px;
  border: 1px solid #000;
  text-align: center;
}

.container {
  width: 50%;
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
}

.loadingStats {
  margin-left: 5px;
  font-size: 20px;
}

.loadMoreBtn {
  margin: 0 0 30px 5px;
  width: 50%;
  color: #fff;
  background-color: #000000;
  border: none;
  height: 50px;
  cursor: pointer;
  font-size: 20px;
  display: flex;
  justify-content: center;
  align-items: center;
}

.loadMoreBtn:disabled {
  cursor: not-allowed;
  opacity: 0.5;
}

.scrollToTopBtn {
  position: fixed;
  bottom: 30px;
  right: 30px;
  width: 60px;
  height: 60px;
  background: #7474746a;
  display: flex;
  justify-content: center;
  align-items: center;
  border: none;
  border-radius: 10px;
}

.scrollToTopBtn:hover {
  background: rgb(216, 216, 216);
}

@media screen and (max-width: 500px) {
  .logo {
    padding: 5px;
    width: fit-content;
  }
  .container {
    justify-content: start;
  }
}
