.card {
    display: flex;
    justify-content: center;
    flex-direction: column;
    margin: 5px;
    user-select: none;
    cursor: pointer;
    border: 1px solid rgb(238, 238, 238);
}

.card:hover {
    background: rgb(243, 243, 243);
}

.card h1 {
    text-align: center;
}

.card img {
    margin: auto;
    width: 200px;
}

.typesList {
    display: flex;
    padding: 0;
    padding-left: 10px;
}

.typesList li {
    list-style-type: none;
    padding: 3px 10px;
    margin-right: 10px;
    color: #fff;
    border-radius: 10px;
    text-align: center;

}